/* modificacion del body */
body {
    background-color: #FDA403;
}

.nav-link{
color: #FDA403;
}
.myDiv3{
    padding: 100px 200px;
    background-color: #FDA403;
    border: none;
    border-radius: 5px;
    width: 100%;
    
  }
  .c1{
    color;
  }

