/* modificacion del body */
body {
    background-color: #FDA403;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.nav-link{
color: #FDA403;
}
.bold-text label {
    font-weight: bold;
}

  .question {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .options {
    display: flex;
    justify-content: center;
  }
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }